/******************************/
/* Member Panel Frame Styles */
/*****************************/
body {
    color:#000;
    font-family:Helvetica, Arial, sans-serif;
    font-size:11px;
    font-weight:normal;
    padding:10px 0px;
    margin:0px;
	background:#fff;
}

#options-content {
	padding:0px 10px;	
}

p {
	margin:0px 0px 7px 0px;
	padding:0px;	
}

label {
	display:block;
	float:left;
}

input {
	font-size:11px;
	line-height:13px;	
	display:inline-block;
}

textarea {
	display:inline-block;
	font-size:11px;
	line-height:15px;
	width:250px;
	height:90px;	
}

input[type=submit] {
	font-size:13px;
	cursor:pointer;
}

input[type=checkbox] {
	padding:0px;
	margin:0px;
	line-height:0px;	
}

.input_container {
	margin-bottom:15px;	
}

#close-button-container {
    float:right;
}

#close-button {
    cursor:pointer;
    position:fixed;
    top:2px;
    right:2px;
}

#close-button img {
    width:18px;
    height:18px;
}

#member-menu-bar {
    clear:both;
	margin-bottom:15px;
	padding:0px 10px 5px 10px;
	border-bottom:1px solid #404040;
}

#member-menu-bar a, #member-menu-bar a:visited {
	font-size:12px;
	color:#101010;
	margin-right:20px;
	text-decoration:none;
}

#member-menu-bar a:hover, #member-menu-bar a:active {
	color:#404040;
	text-decoration:none;
}

form {
	margin:15px 0px 0px 0px;	
}

#contact-info-form label {
	width:90px;	
}

#contact-info-form input[type=submit] {
	margin-top:5px;	
}

#password-change-form label {
	width:120px;
}

#edit-button, #edit-button:visited {
	font-size:12px;
	color:#378b36;
}

#edit-button:hover, #edit-button:active {
	color:#404040;	
}

.error {
	color:red;	
}

.renewable {
	color:green;
}

.expired {
	color:red;
}

#member_panel_renew_form {
	margin:10px 0px 0px 0px;
	padding:0px;	
}